In [33]:
import pandas as pd 
import numpy as np
import os

In [34]:
os.chdir("/home/r/Documents/M5_forecasting_Accuracy")

In [35]:
calendario  = pd.read_csv("calendar.csv")
sales_train_validation =  pd.read_csv("sales_train_validation.csv")
sell_prices = pd.read_csv("sell_prices.csv")
sample_submission = pd.read_csv("sample_submission.csv")

In [23]:
calendario.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [26]:
calendario.shape

(1969, 14)

In [32]:
calendario.wm_yr_wk

0       11101
1       11101
2       11101
3       11101
4       11101
        ...
1964    11620
1965    11620
1966    11620
1967    11621
1968    11621
Name: wm_yr_wk, Length: 1969, dtype: int64